# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
python=3.8
numpy>=1.19.1
scipy>=1.5.2
matplotlib
assimulo>=3.2
python-libsbml>=5.18.0
biopython
ipython
jupyter
pip
pyparsing
setuptools
sympy
wheel
pytest
