include *.md
include LICENCE.txt
include requirements.txt
include pysces/*
include pysces/contrib/*
include pysces/contrib/demo/*
include pysces/core2/*
include pysces/docs/*
include pysces/docs/*.pdf
include pysces/examples/*
include pysces/nleq2/*
include pysces/kraken/*
include pysces/kraken/controllers/*
include pysces/lib/*
include pysces/metatool/*
include pysces/sandbox/*
include pysces/pitcon/*
include pysces/pscmodels/*
include pysces/tests/*
include pysces/version.txt
global-include CMakeLists.txt
