name: CI build Anaconda

on:
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-10.15]
#        os: [ubuntu-latest, windows-2019, macOS-10.15]
    name: Build Anaconda packages on ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup conda
        uses: s-weigand/setup-conda@v1
        with:
          update-conda: false
          python-version: 3.8
          conda-channels: conda-forge
      
      - name: Prepare conda environment
        run: |
          conda install mamba conda-build conda-verify anaconda-client
          mkdir build_output
          
      - name: Build packages
        run: mamba build --no-anaconda-upload --output-folder ./build_output ./packaging/conda
      
      - uses: actions/upload-artifact@v2
        with:
          name: build_outputs
          path: ./build_output/*/pysces*.tar.bz2

      - name: Upload to anaconda.org
        # to publish when a GitHub Release is created:
        if: github.event_name == 'release' && github.event.action == 'released'
        run: anaconda -t ${{ secrets.ANACONDA_JMROHWER_TOKEN }} upload -u jmrohwer ./build_output/*/pysces*.tar.bz2
